body {
    margin: 0;
    text-align: center;
    font-family: merriweather;
    /* color: #40514E; */
    color: #f3ae99;
    /* font-family: Arial, Helvetica, sans-serif; */
}


h1 {
    font-family: sacramento;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    /* color: midnightblue; */
    color: #66BFBF;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-family: montserrat , sans-serif;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: montserrat , serif;
    color: #11999e;
}

.text{
    font-family: montez;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.VG {
    height: 40px;
    width: 40px;

}


hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    height: none;
    border-width: 10px;
    border-color: lightgrey;
    margin: 100px auto;

}

.top-container {
    background-color: black;

    position: relative;
    padding-top: 100px;
}

.middle-container {
    padding: 100px 0;
    background-color: black;
}

.bottom-container {
    background-color: #66BFBF;
    margin: 0 auto;
    padding: 20px;
}

.footer-link {
    color: #11999e;
    text-decoration: none;
    font-family: montserrat;
    margin: 10px 20px;
}

#bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

#top-cloud {
    position: absolute;
    right: 250px;
    top: 40px;
}

#mountain {
    height: 300px;
}

.vilakshan {
    border-radius: 100%;
    width: 200px;
}

.skill-row {
    pointer-events: none;
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

p {
    line-height: 2;
}

.aboutme {
    display: inline-block;
    width: 50%;
    margin: auto;
    /* background: #f3ae99; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.dropdown-item {
    background: ;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    display: inline-block;
}

.copyright {
    color: #eaf6f6;
    margin-bottom: 0;
    padding: 20px 0 5px;
    font-size: 0.9rem;
}

.giphy-embed {
    height: 220px;
    pointer-events: none;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

.fab, .fas, .fa {
    font-size: 2rem;
    display: inline-block;
    margin-top: 5px;
    /* color: black; */
} 

.fa-linkedin:hover {
    color: #0072b1;
}

.fa-github:hover {
    color: #171515;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-instagram:hover {
    color: #dc2743;
}

.fa-envelope:hover {
    color: #c71610;
}

